* {
    margin: 0;
}
body {
    background-color: #efefef;
    font-size: 14px;
    color: #333;
    margin: 0px;
}
h1,h2,h3,h4,h5 {
    margin: 0 0 0 0;
    padding: 0;
}
header {
    margin-top: 30px;
}
.container {
    width: 920px;
    margin: 0 auto 0 auto;
    background-color: white;
    overflow: hidden;
    border-bottom: solid;
    padding-bottom: 40px;
}
.heeder-titele-area {
    margin-top: 40px;
    margin-bottom: 0px;
}
.logo {
    padding: 40px 0 40px 0;
    font-size: 32px;
    text-align: center;

}
.header-navigation {
    width: 100%;
    background-color: #646464;
    padding: 10px 0;
    margin-bottom: 20px;
}
.header-navigation:after {
    clear: both;
    display: block;
    content: " ";
}
.header-navigation li {
    float: left;
    padding: 0 30px;
    text-align: center;
    list-style-type: none;
}
.header-navigation li a {
    color: white;
    text-decoration: none;
}
.left-contents {
    width: 600px;
    margin-right:  10px;
    float: left;
}
.right-contents {
    width: 300px;
    float: left;
    background-color: white;
}
.card-contents {
    display: block;
    margin: 0 0px 10px 20px;
    height: 140px
}
.blog-contents {
    height: 140px;
    margin: 20px;
}
.blog-contents:after{
    clear: both;
    display: block;
    content: " ";
}
.blog-image {
    height: 140px;
    width:  140px;
    float: left;
    margin: 0 15px 0px 0 ;
    border-style: solid;
    border-color: #efefef;

}
.date-title-summary {
    list-style: none;
    height: 140px;
    float: left;
    width: 320px;
    overflow: hidden;
}
.date-title-summary:after {
    clear: both;
    display: block;
    content: " ";
}
.date {
    font-size: 12px;
}
.blog-title {
    font-size: 18px;
    margin: 10px 0;
}
.blog-summary {
    font-size: 6px;
}
.history {
    border-bottom-style: solid;
    border-bottom-color: #efefef;
}
.history-image {
    float: left;
    height: 40px;
    width:  40px;
}
.istory_card-contents {
    margin-bottom: 10px;
}
.history-blog {
    margin: 10px 0;
}
.history_date-title {
    list-style: none;
}

.history_date {
    font-size: 6px;
}
.history_title {
    font-size: 12px;
}
.main:after {
    clear: both;
    display: block;
    content: " ";
}
.copyright {
    color: #777;
    border-color: #777;
    display : block;
    background-color: white;
    height: 100px;
    width: 920px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 60px;
}

